name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: AakashJyoti
          outputs: |
            dist/snake-dark.svg
            dist/snake-light.svg
        env:
          SNAKE_COLOR: "#7aa2f7"
          SNAKE_BG_COLOR: "#1a1b26"
          SNAKE_FOOD_COLOR: "#f7768e"

      - name: Push snake
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
